<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" media="all" href="<%= $html_resource_root %>/style.css" />
  <script type="text/javascript" src="<%= $html_resource_root %>/prototype.js"></script>
  <script type="text/javascript" src="<%= $html_resource_root %>/fastinit.js"></script>
  <script type="text/javascript" src="<%= $html_resource_root %>/tablesort.js"></script>	
  <TITLE>OTrunk</TITLE>
  <style type="text/css">
  h3 {margin-bottom: 0.5em; margin-top:2em; border-bottom: 1px solid }
  h4 {margin-bottom: 0.2em}
  </style>
</head>

<BODY BGCOLOR="#FFFFFF">
<h2>OTrunk sites</h2>

<ul>
<% FOLDERS.each do |folder, svn_path| %>
<li><a href="<%= folder %>/<%= INDEX_SUFFIX %>"><%= folder %></a></li>
<% end %>
</ul>

</BODY>
</HTML>
