<% section = $model %>

<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
	  <td><div class="menu_item"><%= linkToObject "CSV", section, $section_csv_view %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h2>Section: <%= sectionTitle %></h2>
  
    <% questions = basicSectionQuestions %>

    <table>
      <tr>
       <th>User</th>
       <% questions.each do |question| %>
        <th><%= popupLinkToObject truncate(promptText(question), 30), question %></th>  
       <% end %>
      </tr>
      <% line_toggle = true %>
      <% users.each do |user| %>
        <tr BGCOLOR = <%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>>
          <% line_toggle = !line_toggle %>
          <td><%= linkToObject user.name, user, $user_view %></td>
         <% questions.each do |question| %>
          <% userQuestion = userObject(question, user) %>
          <td>
            <%= questionAnswerHtml userQuestion %> 
          </td>  
         <% end %>        
        </tr>
      <% end %>    
    </table>
</div>