<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
    </tr>
  </table>
</div>
<hr />
<div id="content">
  
  <h2>Report for <%= unitTitle %></h2>

  <table>
    <tr>
     <th>User</th>
     <% activitySections.each do |section| %>
      <th><%= linkToObject section.name, section, $section_view %></th>  
     <% end %>
    </tr>
    <% line_toggle = true %>
    <% users.each do |user| %>
    <tr BGCOLOR = <%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>>
      <% line_toggle = !line_toggle %>
        <td><%= linkToObject user.name, user, $user_view %></td>
       <% userVisitedSections = visitedSections(user) %>
       <% activitySections.each do |section| %>
        <% userSection = userObject(section, user) %>
        <td>
          <% if userVisitedSections.include? userSection %>
            <img src="../UDL/images/tick.png"/>
          <% end %>
        </td> 
       <% end %>
      </tr>
    <% end %>
  </table>
</div>