<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
    </tr>
  </table>
</div>
<hr />
<div id="content">
  <% user = $model %>
  <h2>User: <%= user.name %></h2>
  <% if @debug %>
  ID: <%= user.otExternalId %>
  <% end %>

  <h3>Visited Sections</h3>
  <ul>
  <% visitedSections(user).each do |section| %>
    <li><%= section.name %> : <%= section.otExternalId %></li>
  <% end %>
  </url>
</div>