<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToObjectAction "List View", $model, "page1" %></div></td>
      <td><div class="menu_item"><%= linkToObjectAction "Table View", $model, "page2" %></div></td>
    </tr>
  </table>
  <hr />
</div>
<div id="content">
  <h2>Table View</h2>

  <h3> Folder Name: <%= $model.name %></h3>
  <table>
    <tr><th>Child Name</th><th>Child Text</th></tr>
  <% $model.children.vector.each do |child| %>
    <tr><td><%= child.name %></td> <td><%= child.text %></td></tr> 
  <% end %>
  </table>
</div>