
<h2>List View</h2>

<h3> Folder Name: <%= $model.name %></h3>
Children
<ul>
<% $model.children.vector.each do |child| %>
  <li>Child Name: <%= child.name %> Child Text: <%= child.text %></li> 
<% end %>
</ul>

<hr/>
<%= linkToObjectAction "List View", $model, "page1" %>
<%= linkToObjectAction "Table View", $model, "page2" %>

<hr/>
<p>Two different attempts at a creating a horizontal menu:</p>
<p>Both are using css to define a ul as having a list-style-type: none.</p>
<p>Right now the css isn't even being applied ...</p>
<p>This attempt is using a div with a class of "menu"</p>
<div class="menu">
  <ul>
    <li><%= linkToObjectAction "Page 1", $model, "page1" %></li>
    <li><%= linkToObjectAction "Page 2", $model, "page2" %></li>
  </ul>
</div>
<p>This attempt is using a ul with a class of "navlist"</p>
<ul id="navlist">
  <li ><%= linkToObjectAction "Page 1", $model, "page1" %></li>
  <li><%= linkToObjectAction "Page 2", $model, "page2" %></li>
</ul>

