<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToObjectAction "List View", $model, "page1" %></div></td>
      <td><div class="menu_item"><%= linkToObjectAction "Table View", $model, "page2" %></div></td>
    </tr>
  </table>
</div>
<hr />
<div id="content">
  <h2>List View</h2>

  <h3> Folder Name: <%= $model.name %></h3>
  Children
  <ul>
  <% $model.children.vector.each do |child| %>
    <li>Child Name: <%= child.name %> Child Text: <%= child.text %></li> 
  <% end %>
  </ul>

  <hr/>
</div>
