<div id="content">
  <h1>3</h1>
  <h1><%= $activityRoot.name %> Report: <%= $discoverySection.name %> Section </h1>
  <%= linkToObject "report1", $reportViewEntry1 %> <br />
  <%= linkToObject "report2", $activityRoot, $reportViewEntry2 %> <br />
  <%= linkToObject "report3", $activityRoot, $reportViewEntry3 %> <br />
</div>