<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToObjectAction "Discover", $model, "page1" %></div></td>
      <td><div class="menu_item"><%= linkToObjectAction "Challenge Motion", $model, "page2" %></div></td>
      <td><div class="menu_item selected"><%= linkToObjectAction "Challenge Slider", $model, "page3" %></div></td>
    </tr>
  </table>
</div>
<hr />
<div id="content">

  <h1><%= $activityRoot.name %> Report: Challenge Slider</h1>
  <p>Investigations into one dimensional motion using the motion sensor and graphs with tables.</p>
  
  <br />
  <h3>Predicting Motion</h3>
 
  <br />
  <h3>Creating a slider graph that is similar to a previous graph</h3>

  <table border="0" width="900" cellspacing="20">
    <tr>
      <td width="800">
        <%= embedObject multiUserGraph($sliderMotionGraph2, $sliderMotionData2) %>
      </td>
      <td>
        This graph has all of the student motion graphs for this question.
      </td>
    </tr>
  </table>

</div>