<%
  PICK_N_CLASS = java.lang.Class::for_name("org.concord.otrunk.intrasession.OTMultiUserPickN")
  POLL_CLASS = java.lang.Class::for_name("org.concord.otrunk.intrasession.OTMultiUserPollingGraph")
  
  wrapped_objs = { }
  objects = @otrunk.getAllObjects(org.concord.otrunk.intrasession.OTMultiUser.java_class)
  objects.each do |wrapper|
    klass = wrapper.get_class
    if PICK_N_CLASS.is_assignable_from(klass)
      klass = PICK_N_CLASS
    elsif POLL_CLASS.is_assignable_from(klass)
      klass = POLL_CLASS
    end

    wrapped_objs[klass] ||= {}
    multiObj = wrapper.object
    doc_otids = @otrunk.getReferences(wrapper.global_id, org.concord.otrunk.view.document.OTDocument.java_class, true)
    doc_otids.each do |doc_otid|
      section_otids = @otrunk.getReferences(doc_otid, org.concord.otrunk.udl3.OTUDLSection.java_class, true)
      section_otids.each do |otid|
        section = @otrunk.root_object_service.getOTObject(otid)
        section_num = section.name[/\d+/].to_i
        puts "parsing section: #{section.name} with id: #{otid}"
        wrapped_objs[klass][section_num] ||= { }
        i = 0
        section.content.cards.each do |card|
          i += 1
          if doc_otid.equals(card.getGlobalId())
            wrapped_objs[klass][section_num][i] ||= [ ]
            wrapped_objs[klass][section_num][i] << wrapper
          end
        end
      end
    end

  end
%>
<% wrapped_objs.keys.sort {|a,b| a.name <=> b.name }.each do |type| %>
  <h1>
<%= if PICK_N_CLASS.is_assignable_from(type)
    "Pick N"
  elsif POLL_CLASS.is_assignable_from(type)
    "Poll"
  else
    type
 end %>
  </h1>
  <% wrapped_objs[type].keys.sort.each do |ak| %>
    <h2>Activity <%= ak %></h2>
    <% wrapped_objs[type][ak].keys.sort.each do |sk| %>
      <h3>Section <%= sk %></h3>
      <% wrapped_objs[type][ak][sk].each do |obj| %>
        <% if PICK_N_CLASS.is_assignable_from(type) %>
          <%= embedObject(obj, $picknview) %><br/>
        <% elsif POLL_CLASS.is_assignable_from(type) %>
          <%= embedObject(obj, $pollview) %><br/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
