<%
  wrapped_objs = { }
  objects = @otrunk.getAllObjects(org.concord.otrunk.intrasession.OTMultiUser.java_class)
  puts "Found #{objects} OTMultiUser objects"
  objects.each do |wrapper|
    puts "OTMultiUser with type: #{wrapper.type}"
    wrapped_objs[wrapper.type] ||= {}
    multiObj = wrapper.object
    section_otids = @otrunk.getParents(wrapper.global_id, org.concord.otrunk.udl3.OTUDLSection.java_class, true)
    doc_otids = @otrunk.getParents(wrapper.global_id, org.concord.otrunk.view.document.OTDocument.java_class, true)
    section_otids.each do |otid|
      section = @otrunk.root_object_service.getOTObject(otid)
      section_num = section.name[/\d+/].to_i
      wrapped_objs[wrapper.type][section_num] ||= { }
      i = 0
      section.content.cards.each do |card|
        i += 1
        if doc_otids.include?(card.getGlobalId())
          wrapped_objs[wrapper.type][section_num][i] ||= [ ]
          wrapped_objs[wrapper.type][section_num][i] << wrapper
        end
      end
    end
  end
%>
<% wrapped_objs.keys.sort.each do |type| %>
  <h1>
<%= case type
  when org.concord.otrunk.intrasession.OTMultiUser::TYPE_PICK_N
    "Pick N"
  when org.concord.otrunk.intrasession.OTMultiUser::TYPE_POLL
    "Poll"
 end %>
  </h1>
  <% wrapped_objs[type].keys.sort.each do |ak| %>
    <h2>Activity <%= ak %></h2>
    <% wrapped_objs[type][ak].keys.sort.each do |sk| %>
      <h3>Section <%= sk %></h3>
      <% wrapped_objs[type][ak][sk].each do |obj| %>
        <% if type == org.concord.otrunk.intrasession.OTMultiUser::TYPE_PICK_N %>
          <%= embedObject(obj, $picknview) %><br/>
        <% elsif type == org.concord.otrunk.intrasession.OTMultiUser::TYPE_POLL %>
          <%= embedObject(obj, $pollview) %><br/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
