<% section = $model %>

<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
	  <td><div class="menu_item"><%= linkToObject "CSV", section, $section_csv_view %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h2>Section: <%= sectionTitle %></h2>
  
  <h3>Learning Goals</h3>
  <%= $model.goals.gsub(/$/, "<br/>") if $model.goals %>
  
  <h3>Questions</h3>
  <table>
    <% question_correct = {}; question_answered = {}; num_users = 0; gradable_questions = 0 %>
      
    <tr>
      <th>User</th>
      <% questions = basicSectionQuestions %>
      <% questions.each do |question| %>
          <% gradable_questions += 1 if questionGradable(question) %>
          <% question_correct[question] = 0; question_answered[question] = 0 %>
        <th><%= popupLinkToObject truncate(promptText(question), 30), question, $question_popup_view %></th>  
      <% end %>
      <th>Score</th>
    </tr>
    <% line_toggle = true %>
    <% @users.each do |user| %>
      <% num_users += 1 %>
      <tr BGCOLOR = <%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>>
        <% line_toggle = !line_toggle %>
        <td><%= linkToObject user.name, user, $user_view %></td>
        <% user_correct = 0; user_answered = 0 %>
        <% questions.each do |question| %>
          <% userQuestion = userObject(question, user) %>
          <% if questionCorrect(userQuestion) 
               user_correct += 1 
               question_correct[question] += 1
             end 
             
             if questionAnswered(userQuestion) and questionGradable(question)
               user_answered += 1
               question_answered[question] += 1               
             end
             %>
          <td><%= questionAnswerHtml userQuestion %></td>  
        <% end %>        
        <td><img src="http://chart.apis.google.com/chart?cht=p&chd=t:<%= "#{user_correct},#{gradable_questions - user_correct}" %>&chs=40&40"/><br/>
           <%= "#{user_correct}/#{gradable_questions}" %></td>
      </tr>
    <% end %>
      <tr>
        <td>Score: Correct/ Answered/ Possible</td>
        <% questions.each do |question| %>
          <td>
            <% if questionGradable(question) %>             
              <img src="http://chart.apis.google.com/chart?cht=p&chd=t:<%= "#{question_correct[question]},#{question_answered[question] - question_correct[question]},#{num_users - question_answered[question]}" %>&chs=40&40"/><br/>
              <%= "#{question_correct[question]}/#{question_answered[question]}/#{num_users}" %>
            <% else %>
              N/A
            <% end %>
          </td>
        <% end %>
        <td>Class Score?<td/>                
      </tr>      
  </table>
</div>