<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
      <% if $dashboard %>
	    <td><%= embedObject $overlay_save_button %></td>
	  <% end %>
    </tr>
  </table>
</div>
<hr />
<div id="content">
  
  <h2>Report for <%= unitTitle %></h2>

  <% if $dashboard %>
  <h3>Manage</h3>
    <%= linkToObject "Enable Activities for Class and Individual Students", activityRoot(), $enable_activities_view %><br/>
    <%= linkToObject "Configure UDL Parameters for Class and Individual Students", activityRoot(), $udl_properties_view %><br/>    
  <% end #dashboard %>

  <h3>Status</h3>

  <table>
    <tr>
     <th></th>
     <% activitySections.each do |section| %>
      <th><%= linkToObject section.name, section, $section_view %></th>  
     <% end %>
    </tr>
    <tr>
     <td>Enabled</td>
     <% activitySections.each do |section| %>
      <td style="text-align: center">
        <% if $dashboard %>
          <%= embedObject section, $section_enable_view %>  
        <% else %>
          <%= "X" if section.enabled %>
        <% end %>
      </td>
     <% end %>
    </tr> 
    <% line_toggle = true %>
    <% @users.each do |user| %>
    <tr BGCOLOR = <%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>>
      <% line_toggle = !line_toggle %>
        <% user_name = user.name
           if user_name == nil or user_name.empty? then user_name = "blank" end
         %>
        <td><%= linkToObject user_name, user, $user_view %></td>
       <% userVisitedSections = visitedSections(user) %>
       <% activitySections.each do |section| %>
        <% userSection = userObject(section, user) %>
        <td style="text-align: center">
          <% if userVisitedSections.include? userSection %>
            <img src="../UDL/images/tick.png"/>
          <% end %>
        </td> 
       <% end %>
      </tr>
    <% end %>
  </table>
</div>