<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
    </tr>
  </table>
</div>
<hr />
<div id="content">
  <% user = $model %>
  <h2>User: <%= user.name %></h2>

  <% userVisitedSections = visitedSections(user) %>  

  <h3>Sections</h3>
  <table>
  <tr><th>Section</th><th>Visited</th><th>Enabled</th>
      <th>Related PreTest<br/> Score </th><th>Recommended<br/> Activities</th><tr>  
  <% unitSections().each do |section| %>
    <tr>
      <td><%= linkToObject section.name, section, $section_view %></td>
      <td style="text-align: center">
        <% userSection = userObject(section, user) %>
        <% if userVisitedSections.include? userSection %>
            <img src="images/green-star.png"/>
        <% end %>
      </td> 
      <td style="text-align: center">
        <% if not section.isPretest and not section.isPosttest %>
        <% if $dashboard %>
          <%= embedObjectFromUserOverlay user, section, $enabled_icon_student_view %>
        <% else %>
          <%= if userSection.enabled then "X" else " " end %>
        <% end %>
        <% end %>
      </td>
      <td style="text-align: center">
        <!-- need to lookup the pre test, go through each question
            and see if that question references this section
            then get the users score on that question. -->
        <% numQuestions = 0
           numCorrect = 0 %>
		<% (relatedQuestions section).each do |question| 
		    numQuestions += 1
		    numCorrect += 1 if questionCorrect(userObject(question, user))
		   end %>
		<%= numCorrect %>/<%= numQuestions %>         
      </td>
      <td style="text-align: center">
        <% if numQuestions > 0 and (numCorrect / numQuestions) < 0.75 %>
        <img src="images/flag.png"/>
        <% end %>
      </td>
    </tr>        
  <% end %>
  
</div>