<div class="menu">
  <table>
    <tr>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject "CSV", @otrunkHelper.rootObject.reportTemplate, $csv_view %>
        </div>
      </td>
    </tr>
  </table>
</div>

<hr/>

<div id="content">
  <h3><%= $title.getText %></h3>
  <p>
    Class: <font color="#3030f0"> <%= @otrunkHelper.className %> </font><br/>
    Teacher: <font color="#3030f0"> <%= @otrunkHelper.teacherName %> </font>
  </p> 
  
  <table class="a" width="<%= 160 + 60 * @questions.questions.size %>px">
    <tr class="a">
      <th class="a" width="100px">Question #</td>
      <% for question in @questions.questions %>
        <th class="a"><%= Util.truncate(Util.toPlainText(@questions.prompt(question)), 24) %></td>  
      <% end %>
      <th class="a" width="60px">Points<br/>(out of <%= @questions.totalMaxPoints %>)</td>
    </tr>
    <tr class="a">
     <th class="a">Correct Answer</th>
     <% for question in @questions.questions %>
       <th class="a"><%= @questions.correctAnswerText(question) %></th> 
     <% end %>
     <th class="a"></th>
    </tr>
    <% for user in @otrunkHelper.users %>
      <tr class="a">
      <td class="a"><%= user.getName %></td>
      <% for question in @questions.questions %>
      <td class="a"><center><%= @questions.answerHtmlText(user, question) %></center></td>
      <% end %>
      <% pts = @questions.getPoints(user) %>
      <td class="a"><font color="blue"><%= '%d (%.0f%%)' % [pts, pts.to_f / @questions.totalMaxPoints * 100] %></font></td>
      </tr>
    <% end %>
  </table>
  <br/>
  <h3>Questions</h3>
  <% for question in @questions.questions do %>
    <div class="report_question">
      <%= presentQuestion(question) %>
    </div>
  <% end %>
  
</div>
