<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= linkToObject "CSV", rootObject.reportTemplate, $csv_view %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h3><%= $title.getText %></h3>
  <table class="a" cellpadding="5px">
    <tr class="a">
      <td class="a">Question #</td>
        <% questions.size.times do |i| %>
      <td class="a"><%= i + 1 %></td>  
      <% end %>
      <td class="a" rowspan="2">Points</td>
    </tr>
    <tr class="a">
     <td class="a">Correct Answer</td>
     <% for question in questions %>
     	<td class="a"><%= correctAnswerText(question) %></td> 
     <% end %>
    </tr>
    <% for user in users %>
      <tr class="a">
  		<td class="a"><%= user.getName %></td>
  		<% for question in questions %>
  		<td class="a"><%= answerHtmlText(user, question) %></td>
  		<% end %>
  		<td class="a"><b><font color="blue"><%= getPoints(user) %></font></b></td>
      </tr>
    <% end %>
  </table>
</div>