<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= @controller.linkToObject "CSV", @otrunkHelper.rootObject.reportTemplate, $csv_view %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h3><%= $title.getText %></h3>
  <p>
    Class: <font color="#3030f0"> <%= @otrunkHelper.className %> </font><br/>
    Teacher: <font color="#3030f0"> <%= @otrunkHelper.teacherName %> </font>
  </p> 
  
  <table class="a" cellpadding="5px">
    <tr class="a">
      <td class="a">Question #</td>
      <% for question in @questions.questions %>
        <td class="a"><%= Util.truncate(Util.toPlainText(question.getPrompt.getBodyText), 24) %></td>  
      <% end %>
      <td class="a" rowspan="2">Points<br/>(out of <%= @questions.totalMaxPoints %>)</td>
    </tr>
    <tr class="a">
     <td class="a">Correct Answer</td>
     <% for question in @questions.questions %>
     	<td class="a"><%= @questions.correctAnswerText(question) %></td> 
     <% end %>
    </tr>
    <% for user in @otrunkHelper.users %>
      <tr class="a">
  		<td class="a"><%= user.getName %></td>
  		<% for question in @questions.questions %>
  		<td class="a"><%= @questions.answerHtmlText(user, question) %></td>
  		<% end %>
  		<td class="a"><b><font color="blue"><%= @questions.getPoints(user) %></font></b></td>
      </tr>
    <% end %>
  </table>
  
  <h3>Questions</h3>
  <% for question in @questions.questions do %>
    <div class="report_question">
      <%= presentQuestion(question) %>
    </div>
  <% end %>
  
</div>
