<div class="menu">
  <table>
    <tr>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("Main", @otrunkHelper.rootObject.reportTemplate, $unit_view) %>
        </div>
      </td>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("CSV", @otrunkHelper.rootObject.reportTemplate, $csv_view) %>
        </div>
      </td>
    </tr>
  </table>
</div>

<br/>

<h2>Summary</h2>

<br/>

<table class="a">
  <tr class="a">
    <th class="a">Indicator</td>
    <th class="a">Description</td>
    <th class="a">Points</td>
    <th class="a">Percentage</td>
  </tr>
  <% for indicator in $rubric.getIndicators %>
    <% maxIndPoints = RubricGradeUtil.getMaximumPoints(indicator) %>
    <% maxTotalPoints = RubricGradeUtil.getTotalMaximumPoints($rubric) %>
    <tr class="a">
      <td class="a"><%= indicator.getLabel %></td>
      <td class="a"><%= indicator.getDescription %></td>
      <td class="a"><%= maxIndPoints %></td>
      <td class="a"><%= '%.2f%%' % (maxIndPoints.to_f / maxTotalPoints * 100) %></td>
    </tr>
  <% end %>
  <tr class="a">
    <td class="a" colspan="2">Total</td>
    <td class="a"><%= maxTotalPoints %></td>
    <td class="a">100%</td>
  </tr>
</table>

<br/>

<h2>Indicators</h2>

<br/>

<% for indicator in $rubric.getIndicators %>
  <h3><%= indicator.getLabel %></h3>
  <table class="a">
    <% values = indicator.getPossibleValues %>
    <% if values.size > 0 %>
      <tr class="a">
        <th class="a">Value</td>
        <th class="a">Label</td>
        <th class="a">Description</td>
        <th class="a">Points</td>
      </tr>
      <% for v in values %>
        <tr class="a">
          <td class="a"><%= v.getValue %></td>
          <td class="a"><%= v.getLabel %></td>
          <td class="a"><%= v.getDescription %></td>
          <td class="a"><%= v.getPoints %></td>
        </tr>          
      <% end %>
    <% end %>
    <% ranges = indicator.getPossibleRanges %>
    <% if ranges.size > 0 %>
      <tr class="a">
        <th class="a">Min Value</td>
        <th class="a">Max Value</td>
        <th class="a">Description</td>
        <th class="a">Points</td>
      </tr>
      <% for r in ranges %>
        <tr class="a">
          <td class="a"><%= r.getMinValue %></td>
          <td class="a"><%= r.getMaxValue %></td>
          <td class="a"><%= r.getDescription %></td>
          <td class="a"><%= r.getPoints %></td>
        </tr>          
      <% end %>
    <% end %>
  </table>
  <br/>
<% end %>


