<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= linkToObject "CSV", rootObject.reportTemplate, $csv_view %></div></td>
    </tr>
  </table>
</div>

<h2><%= $title.getText %></h2>

<p>
Class: <font color="#3030f0"> <%= className %> </font><br/>
Teacher: <font color="#3030f0"> <%= teacherName %> </font>
</p> 

<% indicators = $rubric.getIndicators %>
<% sums = [0] * (indicators.size + 1) %>
<% numRows = 0 %>

<h3>Grades</h3>

<table class="a" border="1">
  <tr class="a">
    <td class="a"></td>
    <% for indicator in indicators.getVector %>
      <%= '<td class="a">' + indicator.getLabel + '</td>' %>
    <% end %>
    <td class="a">Final Grade</td>
  </tr>
  <% for user in users %>
    <% name = user.getName %>
    <% assessment = getLastAssessment(user) %>
    <% if assessment %>
      <% numRows += 1 %>
      <tr class="a">
        <% indicatorValues = assessment.getIndicatorValues %>
        <td class="a"><%= name %></td>
        <% indicators.size.times do |i| %>
          <% indicator = indicators.get(i) %>
          <% indicatorGrade = RubricGradeUtil.getIndicatorGrade(assessment, indicator, $rubric) %>
	      <% if indicatorGrade == nil %>
	        <td class="a"><font title="hoho">N/A</font></td>
          <% else %>
            <% points = indicatorGrade.getPoints() %> 					
			<td class="a"><%= points %></td>
			<% sums[i] += points %>
	      <% end %>
        <% end %>
        <% points = RubricGradeUtil.getTotalGrade(assessment, $rubric).getPoints() %> 
        <td class="a"><font color="3030f0"><%= points %></font></td>
        <% sums[sums.length-1] += points %>
      </tr>
    <% else %>
      <% log("No assessment data for student [#{name}]") %>
    <% end %>
  <% end %>
  
  <td class="a"><font color="#a030a0">Average</font></td>
  <% (indicators.size + 1).times do |i| %>
    <td class="a"><font color="#a030a0"><%= '%.2f' % (sums[i].to_f / numRows) %></font></td>
  <% end %>
</table>







