<div class="menu">
  <table>
    <tr>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("CSV", @otrunkHelper.rootObject.reportTemplate, $csv_view) %>
        </div>
      </td>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("Rubric", @otrunkHelper.rootObject.reportTemplate, $rubric_view) %>
        </div>
      </td>
    </tr>
  </table>
</div>

<h2><%= $title.getText %></h2>

<p>
Class: <font color="#3030f0"> <%= @otrunkHelper.className %> </font><br/>
Teacher: <font color="#3030f0"> <%= @otrunkHelper.teacherName %> </font>
</p>
<br/> 

<% indicators = $rubric.getIndicators %>
<% sums = [0] * (indicators.size + 1) %>
<% numRows = 0 %>
<% maxTotalPoints = RubricGradeUtil.getTotalMaximumPoints($rubric) %>

<h3>Grades</h3>

<table class="a" border="1">
  <!-- TABLE HEADER -->
  <tr class="a">
    <th class="a"></th>
    <% for indicator in indicators.getVector %>
      <th class="a" width="60px"><%= indicator.getLabel + " (#{RubricGradeUtil.getMaximumPoints(indicator)})" %></th>
    <% end %>
    <th class="a" width="60px">Final Grade (<%= RubricGradeUtil.getTotalMaximumPoints($rubric) %>)</th>
  </tr>
  <!-- TABLE BODY -->
  <% for user in @otrunkHelper.users %>
    <% name = user.getName %>
    <% assessment = @assessment.getLastAssessment(user) %>
    <% if assessment %>
      <% numRows += 1 %>
      <tr class="a">
        <% indicatorValues = assessment.getIndicatorValues %>
        <td class="a"><%= name %></td>
        <% indicators.size.times do |i| %>
          <% indicator = indicators.get(i) %>
          <% indicatorGrade = RubricGradeUtil.getIndicatorGrade(assessment, indicator, $rubric) %>
	      <% if indicatorGrade == nil %>
	        <td class="a">N/A</td>
          <% else %>
            <% points = indicatorGrade.getPoints() %> 					
			<td class="a"><%= points %></td>
			<% sums[i] += points %>
	      <% end %>
        <% end %>
        <% points = RubricGradeUtil.getTotalGrade(assessment, $rubric).getPoints() %>
        <% if maxTotalPoints == 100 %>
          <% psString = '' %>
        <% else %>
          <% percentage = points.to_f / maxTotalPoints * 100 %>
          <% pcString = '(%.0f%%)' % percentage %>
        <% end %>
        <td class="a"><font color="3030f0"><%= "#{points} #{pcString}" %></font></td>
        <% sums[sums.length-1] += points %>
      </tr>
    <% else %>
      <% Util.log("No assessment data for student [#{name}]") %>
    <% end %>
  <% end %>
  
  <td class="a"><font color="#a030a0">Average</font></td>
  <% indicators.size.times do |i| %>
    <td class="a"><font color="#a030a0"><%= '%.2f' % (sums[i].to_f / numRows) %></font></td>
  <% end %>
  <% averageTotal = sums[indicators.size].to_f / numRows %>
  <% pcString = maxTotalPoints == 100 ? '' : '(%.0f%%)' % (averageTotal / maxTotalPoints * 100) %>
  <td class="a"><font color="#a030a0"><%= '%.2f %s' % [averageTotal, pcString] %></font></td>
</table>
