<h2>Basic JRuby ERB Template</h2>

<h3>Standard Variables</h3>
This template has access to all the variables of a normal OTrunk script:

<table>
<tr><td>viewContext</td>           <td><%= $viewContext %></td></tr>
<tr><td>jComponentViewContext</td> <td><%= $jComponentViewContext %></td></tr>
<tr><td>viewContainer</td>         <td><%= $viewContainer %></td></tr>
<tr><td>otObjectService</td>       <td><%= $otObjectService %></td></tr>
<tr><td>otContents</td>            <td><%= $otContents %></td></tr>
<tr><td>scriptState</td>           <td><%= $scriptState %></td></tr>
<tr><td>controllerService</td>     <td><%= $controllerService %></td></tr>
</table>


<h3>Extra Variables</h3>
This template also has access to a model and viewEntry variable.
<p>In this case model is:<br/>
<%= $model %>
</p>

<p>And viewEntry is:<br/>
<%= $viewEntry %>
</p>
