<div id="content">
  <h2><%= @activity.title %></h2>
  
  <h3>Questions</h3>
  <table class="report_table">
    <% question_correct = {}; question_answered = {}; num_users = 0; gradable_questions = 0 %>
      
    <tr>
      <th>User</th>
      <% questions = @activity.sectionQuestions(activityRoot.activity) %>
      <% questions.each do |question| %>
          <% gradable_questions += 1 if @questionHelper.gradable?(question) %>
          <% question_correct[question] = 0; question_answered[question] = 0 %>
        <th><%= Util.truncate(@questionHelper.plainPromptText(question), 60) %></th>
        <th>Score</th>  
      <% end %>
    </tr>
    <% line_toggle = true %>
    <% @otrunkHelper.users.each do |user| %>
      <% num_users += 1 %>
      <tr BGCOLOR = <%= line_toggle ? ROWCOLOR1 : ROWCOLOR2 %>>
        <% line_toggle = !line_toggle %>
        <td><%= user.name %></td>
        <% user_correct = 0; user_answered = 0 %>
        <% questions.each do |question| %>
          <% question_score = 0 %>
          <% userQuestion = @otrunkHelper.userObject(question, user) %>
          <% if @questionHelper.questionFirstChoiceCorrect(userQuestion) 
               question_score = 1
               user_correct += 1 
               question_correct[question] += 1
             end 
             
             if @questionHelper.questionAnswered(userQuestion) and @questionHelper.gradable?(question)
               user_answered += 1
               question_answered[question] += 1
             end
             %>
          <td><%= @questionHelper.questionFirstAnswerHtml(userQuestion) %></td>
          <td><%= question_score %></td>
        <% end %> 
      </tr>
    <% end %>      
  </table>
</div>